/*===================================================================== 

  Table of Contents:

  1.) Icon Font
  2.) General Settings/Resets

  3.) Sidebar
  4.) Main Content
  5.) Education/Employment
  6.) Skills
  7.) Portfolio
  8.) Contact Form
  9.) Grid
  10.) Media Queries

=====================================================================*/
/*===================================================================== 
  1.) Icon Font
=====================================================================*/
/*@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?27483532');
  src: url('../font/fontello.eot?27483532#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?27483532') format('woff'),
       url('../font/fontello.ttf?27483532') format('truetype'),
       url('../font/fontello.svg?27483532#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
 
.icon-user:before { content: '\e801'; }
.icon-mail:before { content: '\e806'; }
.icon-facebook:before { content: '\e804'; }
.icon-twitter:before { content: '\e805'; }
.icon-gplus:before { content: '\e803'; }
.icon-skype:before { content: '\e800'; }
.icon-blogger:before { content: '\e802'; }
.icon-search:before { content: '\e807'; }
.icon-award:before { content: '\e809'; }
.icon-users:before { content: '\e808'; }
.icon-book:before { content: '\e80a'; } 
.icon-menu:before { content: '\e80b'; }*/

/*===================================================================== 
  2.) General Settings/Resets
=====================================================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #323232;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 112.5%;
  line-height: 1.4445em;
  color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.link-intern {
  color: #3192e4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*===================================================================== 
  3.) Sidebar (Avatar, Social Media, Navigation, Twitter,...)
=====================================================================*/
.container-left {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  background: #3a97e5;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.container-left a {
  color: white;
}

.container-left-picture {
  position: relative;
  padding: 0 20px;
  background: url("../images/left_sidebar_picture_bg.jpg");
  background-size: cover;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
}

.avatar {
  position: relative;
  max-width: 210px;
  left: 50%;
  top:-50px;
  margin: 80px 0 100px -110px;
}

.navigation {
  position: absolute;
  bottom: 0;
  right: 1px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation li {
  margin: 0;
  padding: 5px 15px;
  background: white;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.social-media {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 10px;
  background: #323232;
  background: rgba(32, 32, 32, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  font-size: 0.77777em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  height:148px;
  width:300px;
  line-height:22px;
}
.social-media2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 10px;
  background: #323232;
  background: rgba(32, 32, 32, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  font-size: 0.77777em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  height:45px;
  width:300px;
  line-height:22px;
}

.social-media li {
  display: inline;
  margin: 0 5px;
}

.social-media li [class^="icon-"]:before,
.social-media li [class*=" icon-"]:before {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.social-media li:last-child {
  margin: 0 0 0 5px;
}

.show-info-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  padding: 5px;
  background: #3192e4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  z-index: 50;
  font-size: 1.5em;
}

.show-info-mobile:hover {
  cursor: pointer;
}

.container-left-info {
  display: block;
  height: 532px;
  position: relative;
  padding: 20px;
  overflow: hidden;
  font-size: 0.88888em;
}

.container-left-info-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-left-info-tabs li {
  margin: 0;
  padding: 0;
}

.personal-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.personal-info li {
  margin: 0 0 10px 0;
  padding: 0;
}

.personal-info li span:first-child {
  padding: 4px 8px;
  margin: 0 8px 0 0;
  background: white;
  background: rgba(255, 255, 255, 0.2);
}

.download {
  margin: 40px 0 0 0;
}

.download a {
  color: white;
}

.download:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.download-cv,
.download-vcard {
  float: left;
  width: 50%;
  text-align: center;
}

.button-circle {
  display: inline-block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  background: white;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.5em;
  text-align: center;
}

.download-title {
  display: block;
}

.twitter-widget {
  margin: 40px 0 0 0;
  position: relative;
  height: 8em;
  overflow-y: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.twitter-widget ul.tweet_list {
  position: absolute;
}

.twitter-widget ul.tweet_list li {
  height: 8em;
}

.tweet,
.query {
  color: #085258;
}

.tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0;
  list-style-type: none;
}

.tweet_list li a {
  color: #115084;
  text-shadow: none;
}

.tweet_list .tweet_avatar {
  padding-right: 10px;
  padding-top: 10px;
  float: left;
}

.tweet_list .tweet_avatar img {
  vertical-align: middle;
}

/* Scrollbar */
.ps-container .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
  background-color: #aaa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity.2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: default;
}

.ps-container .ps-scrollbar-x.in-scrolling {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity.2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: default;
}

.ps-container .ps-scrollbar-y.in-scrolling {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/*===================================================================== 
  4.) Main Content
=====================================================================*/
.container-right {
  position: relative;
  margin: 0 0 0 300px;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-list > li {
  position: relative;
  margin: 0;
  padding: 20px 5px 50px 10px;
/*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #323232), color-stop(100%, #3c3c3c));
  background-image: -webkit-linear-gradient(top, #323232, #3c3c3c);
  background-image: -moz-linear-gradient(top, #323232, #3c3c3c);
  background-image: -o-linear-gradient(top, #323232, #3c3c3c);
  background-image: linear-gradient(top, #323232, #3c3c3c);*/
  background-color: #f5f8fa;
}

.site-title {
  margin: 0;
  padding: 30px 20px;
  background: #3192e4;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -0.035em;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.introduction {
  margin: 40px 0 0 0;
}

.sub-title {
  margin: 0;
  padding: 20px;
  background: #3192e4;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: -0.035em;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.sub-heading {
  margin: 0;
  padding: 0 0 5px 10px;
  border-right: 3px solid #3192e4;
  border-bottom: 1px solid white;
  color: #3192e4;
}

/*===================================================================== 
  5.) Education/Employment
=====================================================================*/
.education,
.employment {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.education li,
.employment li {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}

.education li:first-child,
.employment li:first-child {
  margin: 20px 0 20px 0;
}

.education li:last-child,
.employment li:last-child {
  margin: 20px 0 0 0;
}

.education .time,
.employment .time {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.77777em;
  font-style: italic;
}

/*.education .station,
.employment .station {
  font-weight: 600;
}

.education .position,
.employment .position {
  font-size: 0.77777em;
}*/

.education .position-desc,
.employment .position-desc {
  font-size: 1.02em;
/*  line-height: 18px;
  color: #818181;*/
}

/*===================================================================== 
  6.) Skills
=====================================================================*/
.skillset {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  font-weight: 600;
}

.skillset tbody {
  margin: 0;
  padding: 0;
}

.skillset tr {
  margin: 0;
  padding: 0 0 40px 0;
}

.skillset td {
  padding: 0 0 20px 0;
  border-spacing: 0;
}

.skillset .outer-bar {
  width: 100%;
  background: white;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.skillset .inner-bar {
  display: inline-block;
  height: 100%;
  padding: 5px 0 5px 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #3192e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3192e4), color-stop(100%, #288de3));
  background-image: -webkit-linear-gradient(top, #3192e4, #288de3);
  background-image: -moz-linear-gradient(top, #3192e4, #288de3);
  background-image: -o-linear-gradient(top, #3192e4, #288de3);
  background-image: linear-gradient(top, #3192e4, #288de3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.skillset-alt {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.skillset-alt:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.skillset-alt li {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 33%;
}

.pie-container {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.pie {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #3192e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3192e4), color-stop(100%, #288de3));
  background-image: -webkit-linear-gradient(top, #3192e4, #288de3);
  background-image: -moz-linear-gradient(top, #3192e4, #288de3);
  background-image: -o-linear-gradient(top, #3192e4, #288de3);
  background-image: linear-gradient(top, #3192e4, #288de3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 15;
}

.pie-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: white;
  clip: rect(0px 160px 80px 0);
  z-index: 10;
}

.pie-inner {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  background: #323232;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.pie-inner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.pie-inner > span {
  display: inline-block;
  vertical-align: middle;
}

.pie-desc {
  width: 80%;
  margin: 10px auto;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.88888em;
  text-align: center;
  word-wrap: break-word;
}

/*===================================================================== 
  7.) Portfolio
=====================================================================*/
.portfolio-intro {
  padding: 20px;
}

.portfolio-item {
  position: relative;
  margin: 0;
  background: #323232;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.portfolio-item:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.item-small .portfolio-preview {
  width: 100%;
}

.portfolio-preview {
  float: left;
  width: 70%;
}

.portfolio-img {
  display: block;
}

.item-small .portfolio-desc {
  width: 100%;
}

.portfolio-desc {
  float: left;
  width: 30%;
  padding: 10px 0 0 10px;
}

.portfolio-desc-text {
  padding: 0 20px 0 10px;
  font-size: 0.77777em;
  font-style: italic;
}

.portfolio-item-title {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.button-view-project {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 0.77777em;
  color: white;
}

.fancybox {
  display: block;
  position: relative;
  text-decoration: none;
  outline: none;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.45);
  opacity: 0;
  text-align: center;
  font-size: 1.75em;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mask:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.mask:hover {
  opacity: 1;
}

.mask [class^="icon-"]:before,
.mask [class*=" icon-"]:before {
  font-size: 1.25em;
  vertical-align: middle;
}

/* fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Lato", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*===================================================================== 
  8.) Contact Form
=====================================================================*/
.google-maps {
  position: relative;
  height: 350px;
  width: 800px;
  margin: 50px 0 50px -100px;
  background: rgba(0, 0, 0, 0.5);
}

.google-maps:before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: 'Google Maps Plugin';
}

#contact-name,
#contact-mail,
#contact-message {
  margin: 0;
  padding: 10px;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#contact-name:focus,
#contact-mail:focus,
#contact-message:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 120, 255, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 120, 255, 0.75);
  box-shadow: 0 0 3px rgba(0, 120, 255, 0.75);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#contact-message {
  height: 10em;
}

#contact-submit {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border: none;
  background: #3192e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3192e4), color-stop(100%, #238be2));
  background-image: -webkit-linear-gradient(top, #3192e4, #238be2);
  background-image: -moz-linear-gradient(top, #3192e4, #238be2);
  background-image: -o-linear-gradient(top, #3192e4, #238be2);
  background-image: linear-gradient(top, #3192e4, #238be2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

#contact-submit:active {
  top: 1px;
}

.align-input-fields {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.notification {
  display: none;
  padding: 5px 5px 5px 0;
}

.notification [class^="icon-"]:before,
.notofication [class*=" icon-"]:before {
  margin: 0 10px;
}

.error {
  background: #ff8787;
  border: red;
  border: 1px solid rgba(255, 0, 0, 0.45);
  color: red;
}

.red-border {
  border: 0px solid white;
  -webkit-box-shadow: inset 1px 1px 2px red, inset -1px -1px 2px red;
  -moz-box-shadow: inset 1px 1px 2px red, inset -1px -1px 2px red;
  box-shadow: inset 1px 1px 2px red, inset -1px -1px 2px red;
}

.success {
  background: #7aff99;
  border: green;
  border: 1px solid rgba(0, 128, 0, 0.35);
  color: #fff;
  color: rgba(0, 128, 0, 0.85);
}

/*===================================================================== 
  9.) Grid
=====================================================================*/
.grid {
  width: 750px;
  padding: 50px 0;
}

.row {
  padding: 0 0 40px 0;
}

.grid .row:last-child {
  padding: 0;
}

.row:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.g-1 {
  width: 100%;
  padding: 0 20px;
}

.g-2 {
  float: left;
  width: 50%;
  padding: 0 0px;
}

.g-3 {
  float: left;
  width: 33.33%;
  padding: 0 20px;
}

/*===================================================================== 
  10.) Media Queries
=====================================================================*/
@media screen and (max-width: 1220px) {
  /*
  Spacing becomes smaller: left container and padding shrinks
  */
  /* ----------- left ----------- */
  .container-left {
    width: 300px;
  }

  /* ----------- right ----------- */
  .container-right {
    margin: 0 0 0 300px;
  }

  .tab-list > li {
    padding: 0 0 0 50px;
  }

  /* ----------- contact ----------- */
  .google-maps {
    width: 750px;
    margin: 50px 0 50px -50px;
  }

  /* ----------- grid ----------- */
  .grid:first-child {
    padding: 50px 0 100px 0;
  }
}
@media screen and (max-width: 1070px) {
  /*
  Full vertical layout
  */
  /* ----------- left ----------- */
  .container-left {
    position: static;
    width: 100%;
  }

  .container-left-picture {
    width: auto;
    height: auto;
  }

  .avatar {
    margin: 40px 0 40px -110px;
  }

  .container-left-info {
    display: none;
    width: auto;
    height: auto;
  }

  .container-left-info-tabs > li {
    float: left;
    display: inline-block;
    width: 50%;
  }

  .download {
    margin: 10px 0 0 0;
  }

  .twitter-widget {
    display: none;
  }

  .container-left-info-tabs:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  /* ----------- right ----------- */
  .show-info-mobile {
    display: block;
    line-height: 0;
  }

  .container-right {
    margin: 0;
  }

  .tab-list {
    width: 750px;
    margin: 0 auto;
  }

  .tab-list > li {
    padding: 0;
    background: transparent;
  }

  /* ----------- contact ----------- */
  .google-maps {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  /*
  Fully flexible layout
  */
  /* ----------- right ----------- */
  .tab-list {
    width: 100%;
  }

  .employment li:last-child,
  .education li:last-child {
    padding: 0 0 20px 10px;
  }

  .pie-container {
    width: 100px;
    height: 100px;
  }

  .portfolio-preview {
    width: 100%;
  }

  .portfolio-desc {
    width: 100%;
  }

  /* ----------- grid ----------- */
  .grid {
    width: 100%;
  }

  .g-2 {
    float: none;
    width: 100%;
  }
}

/* ----------------- table ---------------------------- */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  font-size: 12px;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
  background-color:#3192e4;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #323232;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
  color:#1b1b1b;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #323232;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th,
.table-hover tbody tr:hover > td a {
  background-color: #3192e4;
  color:white;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

/* ----------------- paging ---------------------*/
.pagination {
  margin: 20px 0;
  font-size:0.77777em;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  *zoom: 1;
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #3192e4;
  color:#dddddd;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #323232;
  cursor: default;
  background-color: #3192e4;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

/*---------------form--------------------*/
form{margin:0}fieldset{padding:0;margin:0;border:0}legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #e5e5e5}label{display:inline-block;margin-bottom:5px;font-weight:bold}select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]{/*display:block*/;width:200px;min-height:38px;padding:8px 12px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-moz-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus{border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}select[disabled],textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="date"][disabled],input[type="month"][disabled],input[type="time"][disabled],input[type="week"][disabled],input[type="number"][disabled],input[type="email"][disabled],input[type="url"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="color"][disabled],select[readonly],textarea[readonly],input[type="text"][readonly],input[type="password"][readonly],input[type="datetime"][readonly],input[type="datetime-local"][readonly],input[type="date"][readonly],input[type="month"][readonly],input[type="time"][readonly],input[type="week"][readonly],input[type="number"][readonly],input[type="email"][readonly],input[type="url"][readonly],input[type="search"][readonly],input[type="tel"][readonly],input[type="color"][readonly],fieldset[disabled] select,fieldset[disabled] textarea,fieldset[disabled] input[type="text"],fieldset[disabled] input[type="password"],fieldset[disabled] input[type="datetime"],fieldset[disabled] input[type="datetime-local"],fieldset[disabled] input[type="date"],fieldset[disabled] input[type="month"],fieldset[disabled] input[type="time"],fieldset[disabled] input[type="week"],fieldset[disabled] input[type="number"],fieldset[disabled] input[type="email"],fieldset[disabled] input[type="url"],fieldset[disabled] input[type="search"],fieldset[disabled] input[type="tel"],fieldset[disabled] input[type="color"]{cursor:not-allowed;background-color:#eee}input,select,textarea{width:100%}input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto}input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}textarea{height:auto}input[type="radio"],input[type="checkbox"]{margin:4px 0 0;margin-top:1px \9;line-height:normal}select,input[type="file"]{height:38px;line-height:38px}select[multiple],select[size]{height:auto}select optgroup{font-family:inherit;font-size:inherit;font-style:inherit}input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}input:-moz-placeholder,textarea:-moz-placeholder{color:#999}input::-moz-placeholder,textarea::-moz-placeholder{color:#999}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}.radio,.checkbox{display:block;min-height:20px;padding-left:20px;margin-top:10px;margin-bottom:10px;vertical-align:middle}.radio label,.checkbox label{display:inline;margin-bottom:0;font-weight:normal;cursor:pointer}.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{float:left;margin-left:-20px}.radio+.radio,.checkbox+.checkbox{margin-top:-5px}.radio-inline,.checkbox-inline{display:inline-block;padding-left:20px;margin-bottom:0;font-weight:normal;vertical-align:middle;cursor:pointer}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}select.input-large,textarea.input-large,input[type="text"].input-large,input[type="password"].input-large,input[type="datetime"].input-large,input[type="datetime-local"].input-large,input[type="date"].input-large,input[type="month"].input-large,input[type="time"].input-large,input[type="week"].input-large,input[type="number"].input-large,input[type="email"].input-large,input[type="url"].input-large,input[type="search"].input-large,input[type="tel"].input-large,input[type="color"].input-large{min-height:56px;padding:14px 16px;font-size:18px;border-radius:6px}select.input-small,textarea.input-small,input[type="text"].input-small,input[type="password"].input-small,input[type="datetime"].input-small,input[type="datetime-local"].input-small,input[type="date"].input-small,input[type="month"].input-small,input[type="time"].input-small,input[type="week"].input-small,input[type="number"].input-small,input[type="email"].input-small,input[type="url"].input-small,input[type="search"].input-small,input[type="tel"].input-small,input[type="color"].input-small{min-height:30px;padding:5px 10px;font-size:12px;border-radius:3px}.has-warning .control-label{color:#c09853}.has-warning .input-with-feedback{padding-right:32px;border-color:#c09853;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-warning .input-with-feedback:focus{border-color:#a47e3c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e}.has-warning .input-group-addon{color:#c09853;background-color:#fcf8e3;border-color:#c09853}.has-error .control-label{color:#b94a48}.has-error .input-with-feedback{padding-right:32px;border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-error .input-with-feedback:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392}.has-error .input-group-addon{color:#b94a48;background-color:#f2dede;border-color:#b94a48}.has-success .control-label{color:#468847}.has-success .input-with-feedback{padding-right:32px;border-color:#468847;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-success .input-with-feedback:focus{border-color:#356635;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b}.has-success .input-group-addon{color:#468847;background-color:#dff0d8;border-color:#468847}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}.input-group{display:table}.input-group.col{float:none;padding-right:0;padding-left:0}.input-group input,.input-group select{width:100%;margin-bottom:0}.input-group-addon,.input-group-btn,.input-group input{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group input:not(:first-child):not(:last-child){border-radius:0}.input-group-addon,.input-group-btn{width:1%;vertical-align:middle}.input-group-addon{padding:8px 12px;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;text-shadow:0 1px 0 #fff;background-color:#eee;border:1px solid #ccc;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.input-group-addon.input-small{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-large{padding:14px 16px;font-size:18px;border-radius:6px}.input-group input:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group input:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{position:relative;white-space:nowrap}.input-group-btn>.btn{position:relative;float:left}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:active{z-index:2}.form-inline input,.form-inline select,.form-inline textarea,.form-inline .radio,.form-inline .checkbox{display:inline-block}.form-inline .radio,.form-inline .checkbox{margin-top:0;margin-bottom:0}.form-horizontal .row+.row{margin-top:15px}.form-horizontal .control-label{padding-top:6px}@media(min-width:768px){.form-horizontal .control-label{text-align:right}}.btn{display:inline-block;padding:8px 12px;margin-bottom:0;font-size:14px;font-weight:500;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:4px}.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus{color:#fff;text-decoration:none}.btn:active,.btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:default;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}.btn-default{color:#fff;background-color:#474949;border-color:#474949}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active{background-color:#3a3c3c;border-color:#2e2f2f}.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#474949;border-color:#474949}.btn-primary{color:#fff;background-color:#428bca;border-color:#428bca}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{background-color:#357ebd;border-color:#3071a9}.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#428bca}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#f0ad4e}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active{background-color:#eea236;border-color:#ec971f}.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#f0ad4e}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d9534f}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active{background-color:#d43f3a;border-color:#c9302c}.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{background-color:#d9534f;border-color:#d9534f}.btn-success{color:#fff;background-color:#5cb85c;border-color:#5cb85c}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active{background-color:#4cae4c;border-color:#449d44}.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#5cb85c;border-color:#5cb85c}.btn-info{color:#fff;background-color:#5bc0de;border-color:#5bc0de}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active{background-color:#46b8da;border-color:#31b0d5}.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#5bc0de}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;background-image:none;-webkit-box-shadow:none;box-shadow:none}.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}.btn-link{font-weight:normal;color:#428bca;cursor:pointer;border-radius:0}.btn-link:hover,.btn-link:focus{color:#2a6496;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{color:#333;text-decoration:none}.btn-large{padding:14px 16px;font-size:18px;border-radius:6px}.btn-small{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-block{display:block;width:100%;padding-right:0;padding-left:0}.btn-block+.btn-block{margin-top:5px}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.fade{opacity:0;-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;-moz-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}.collapse.in{height:auto}.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid #000;border-right:4px solid transparent;border-left:4px solid transparent;content:""}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:2px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #fff}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.428571429;color:#333;white-space:nowrap}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{color:#fff;text-decoration:none;background-color:#357ebd;background-image:-webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));background-image:-webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);background-image:-moz-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:linear-gradient(to bottom,#428bca 0,#357ebd 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0)}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;background-color:#357ebd;background-image:-webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));background-image:-webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);background-image:-moz-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:linear-gradient(to bottom,#428bca 0,#357ebd 100%);background-repeat:repeat-x;outline:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0)}.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{color:#999}.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{text-decoration:none;cursor:default;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.open>.dropdown-menu{display:block}.open>a{outline:0}.dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990}.pull-right>.dropdown-menu{right:0;left:auto}.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid #000;content:""}.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px}.dropdown-submenu{position:relative}.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;border-top-left-radius:0}.dropdown-submenu:hover>.dropdown-menu{display:block}.dropup .dropdown-submenu>.dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;border-bottom-left-radius:0}.dropdown-submenu>a:after{display:block;float:right;width:0;height:0;margin-top:5px;margin-right:-10px;border-color:transparent;border-left-color:#ccc;border-style:solid;border-width:5px 0 5px 5px;content:" "}.dropdown-submenu:hover>a:after{border-left-color:#fff}.dropdown-submenu.pull-left{float:none}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;border-top-right-radius:0}.dropdown .dropdown-menu .nav-header{padding-right:20px;padding-left:20px}.typeahead{z-index:1051}

/*added by ekanur*/

.table-bordered th{
  color:white;
}

.dataTables_wrapper .dataTables_info{
  color:#bcbcbc;
  font-size: 0.85em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  color:#4c4c4c !important;
  /*border-radius: 100%;*/
  border:1px solid #3192e4;
}

.dataTables_wrapper .dataTables_paginate .ellipsis{
  color:#2e2e2e !important;
}

.link-intern:hover{
  /*color:white;*/
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select{
  display: inline;
}

.dataTables_wrapper .dataTables_length select{
  width: 40%;
  color: black;
}

.dataTables_wrapper label{
  color:#6f6f6f;
  margin-bottom: 20px;
  /*width: 300px;*/
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #3192e4;
  border:  1px solid #3192e4;
  color: white !important;
  /*border-radius: 100%;*/
}